@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Doto";
}

body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

canvas {
    background-color: #111;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.game-over-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.pause-screen {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    font-size: 1.5rem;
    color: white;
}

.paused {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.current-score {
    font-size: 2rem;
    margin-top: 10px;
}

.pause-buttons {
    display: flex;
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Distância do placar */
}

.pause-buttons button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pause-buttons button:hover {
    background-color: #ddd;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 3; /* Certifique-se de que está acima do canvas */
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.welcome-message {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-start {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-start:hover {
    background-color: #ddd;
}
